

<div style = "background-color: rgb(218, 209, 209); float: left; width: 20%; border-radius:5%; padding:20px; margin:20px;"> 
    <div class="container pt-1">
                <h1>LoadModelData</h1>
                <form action="{% url 'predict:loadData'  %}" id="post-form" method="POST"> 
                    {% csrf_token %} 
                    <div class="form-group">
                        <input class="form-control" name="URL_Model" placeholder="path to ModelData" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="URL_Test" placeholder="path to TestData" required>
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary" >Submit</button>
                </form> 


                <form action="{% url 'predict:simpleAccuracy'  %}" id="post-form" method="POST"> 
                    {% csrf_token %} 
                    <div class="form-group">
                        <input class="form-control" name="URL_Model" value="{{URL_Model}}" hidden>
                        <input class="form-control" name="URL_Test" value="{{URL_Test}}" hidden>
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary" >accuracy</button>
                </form> 
    </div>
</div>
            


 
