{% extends "base.html" %} 
{% block main %} 


<div id="startWrapper" style="width:100%; float:left; background-color:rgb(170, 162, 162); border-radius:50px;">

   
        
            {% csrf_token %} 
            {% include 'Datatable_Model.html' %}
            {% include 'Datatable_Test.html' %}



{% if infoList %}
                    
<div id='infos' style="margin:20px; padding:20px; ">
    <h2>infos</h2>
    <div id='infonames'style='width:30%; float:left; width:fit-content; margin:20px; '>
        {% for name in infoNames %}
        <p>{{name}}</p>
        {% endfor%}
    </div>


    <div id='infoList' style='width:30%; float:left; width:fit-content; margin:20px; '>
        {% for info in infoList %}
        <p>{{info}}</p>
        {% endfor%}
    </div>
</div>
{% endif %}

{% endblock %}
